{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3>О компании</h3>
        </div>
        <div class="card-body">
            <h5>АО БМК</h5>
           <p>
                Информация о комапании:
                <a href="https://mechel.ru/sector/steel/beloretskiy-metallurgicheskiy-kombinat/" target="_blank" rel="noopener noreferrer">
                    mechel.ru
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}